@{
    ViewData["Title"] = "Home Page";
}
<div class="d-flex justify-content-center flex-column text-center">
    <div class="d-flex justify-content-center flex-column text-center">
        <h1>Welcome!</h1>
        <h3>Please tell us your name:</h3>
        <form action="/Login" method="post" class="d-flex justify-content-center m-2 gap-2">
            <input type="text" name="NewName" class="form-control w-25">
            <input type="submit" name="Login" class="btn btn-info">

        </form>
    </div>
</div>
